form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 0 0;
  font-size: 1.4rem;
}

input {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: white;
}

select {
  height: 40px;
  width: 325px;
}

select:focus {
  outline: none;
  border-color: #1ee7e2;
}

input:focus {
  outline: none;
  border-color:#fddb3a;
}

input:placeholder {
  color: #a8b2b2;
}

button {
  margin-top: 24px;
  color: #41444b;
  background: #fddb3a;
  font-weight: 700;
  padding: 12px 20px;
  // margin-left: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:hover{
background-image: none;
background: #ffe97a;
}

button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.error {
  font-size: 1.2rem;
  color: red;
  margin-bottom: 0;
}

.terms {
  display: inline-block;
  align-self: self-start;
}

.terms input {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}
