.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    border-radius: 4px;
    padding: 8px;

    h1 {
        margin-bottom: 0;
    }
}

.category-input {
    width: 275px;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    background-color: white;
}

.create-btn {
    width: 80%;
    align-self: center;
    margin: 24px 0 16px 0;
    color: #41444b;
    background: #fddb3a;
    font-weight: 700;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    
    
    &:hover {
        background-color: #ffe97a;
    }

    &:disabled {
        background-image: none;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        cursor: not-allowed;
    }
}

select {
    width: 150px;
    height: 24px;
}