.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  
    .modal-main {
        display: flex;
        align-items: center;
        flex-direction: column;
        position:fixed;
        background: white;
        width: 32%;
        border-radius: 4px;
        height: auto;
        top:20%;
        left:35%;
        // // transform: translate(-50%,-50%);
    }
  }

  .category {
      display: flex;
      justify-content: flex-end;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

.newcat-btn {
    align-self: flex-end;
    text-align: center;
    font-weight: 700;
    background-color: #fddb3a;
    color: #41444b;
    width: 120px;
    color: #000;
    margin: 26px 12px 8px 12px;
    margin: 16px 20px 16px 0;
    padding: 8px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: none;
}

.newart-btn{
    margin-right: 24px;
}

.cancel-btn {
    align-self: flex-end;
    background: white;
    box-shadow: none;
    color: blue;
    margin-top: 16px;
    padding-right: 16px;
    border: none;

    &:hover {
        background: white;
        box-shadow: none;
    }
}