.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    width: 16vw;
    height: auto;
    margin: 8px;
    border-top: 16px solid #fddb3a;
    border-radius: 4px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    padding: 8px 16px 16px 16px; 

    .article-btn {
        align-self: flex-end;
        text-align: center;
        font-weight: 700;
        font-size: 1.1rem;
        background-color: #fddb3a;
        width: 72px;
        color: #41444b;
        margin: 0px 0 8px 12px;
        padding: 8px 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        &:hover {
           background-color: #ffe97a;
        }
    }

    #moveCard {
        padding: 0 16px;
        margin: 8px auto;
        height: 32px;
    }

    .delete-btn {
        border: none;
        background: none;
        padding: 0;
        box-shadow: none;
        margin-left: 8px;
        cursor: pointer;
    }

    .edit-btn{
        text-decoration: none;
        font-size: 1.2rem;
        color: #41444b;
        font-weight: 700;
        background: none;
        padding: 0;
        margin: 0;
    }
    a {
        align-self: flex-end;
        text-decoration: none;
    }

    .article-title {
        color: black;
        font-size: 1.6rem;
        margin-bottom: 4px;
        margin-top: 8px;
    }

    .article-desc {
        margin: 0;
        font-size: 1.2rem;
    }

    .category {
        margin-top: 4px;
        font-size: 1.1rem;
        align-self: flex-start;
    }
}

.edit-delete-container{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}